/* 
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF */



html {
  font-size: 16pm;
}

.flex-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.spotify-logo {
  height: 10%;
  width: 20%;
  display: flex;
  
}

nav a{
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 5;
}

.background-image {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;

}

.header-container h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-justify: center;

}

.header-container h3 {
  width: 80%;
  font-size: 1.5rem;
  font-weight:initial;
  color: white;
  text-align: center;
  
}


.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.main-container h2 {
  color: black;
  font-size: 2.5rem;
  text-decoration: #00B172 underline;
}

.main-box  {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center ;
  align-items: space-around;
  
}

.main-box  div {
  max-width: 50%;
  display: flex;
  flex-direction: column;
   justify-content: space-evenly;
  align-items: center;
  width: 20%; 
  margin-top: 30px;
  align-content: center;
  margin-bottom: 10%;
  }

.main-box * img {
  width: 20% ;
  height: 30%;
 
}

.main-box * h4 {
  color:  #00B172 ;
  font-size: 1.3rem ;
  font-weight: bolder ;
  height: 30%;
}

.main-box * p {
  color: black;
  font-size: 1rem;
  font-weight: thick;
  text-align: center;
  height: 30%;
  text-align: center;
}

#green {
 background-color:  #00B172 !important ; 
 background-size: cover;
 width: 90%; 
 height: 100%; 

}

#third-container {
max-width: 1000px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(3, 1fr) ;
gap: 20px;

}


.card-content{
  padding: 15px;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  color: white;
  font-weight: lighter; 
  

}

.card-content h3 {
  font-size: 1.4rem;
  font-weight:lighter;
  text-decoration: white underline;
  text-underline-position: under;
}


.card-content h4{
  font-size: 1.3rem;
  font-weight: bold;
}


.card-content p {
  font-size: 1rem;
  font-weight: lighter;
}



.card-3rdcontainer img {
width: 100%;
display: flex;
margin-top: 10%;
margin-bottom: 10%;
justify-content: space-around;
align-content: center;
/* align-items: center; */
}

 #logo{
  display: flex;
  flex-direction: column;
  margin-top: 90%;
  margin-bottom: 20%;
  margin-left: 40%;
  justify-content: space-around ;
  width: 40%;
  height:20%
}
 